p {
        background-color: #CCFFFF;
        width: 450px;
        padding-top: 1px;
        padding-bottom: 1px;
        font-family: "Verdana";
}

h1 {
        color: #000099;
        font-family: "Verdana";
}
