body {
        background-image: url(omfgdogs.gif);
        background-repeat: repeat;
}

#msg {
        display: none;
}

a {
        font-family: "Verdana";
        color: red;
        font-size: 25px;
        text-align: right;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 600px;
}
